.chatList {
  display: flex;
  flex-direction: column;
  min-width: calc(10%);
  max-width: calc(80%);
  transition: width 0.2s ease;

  .column {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
