#chat {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
}

.message {
  max-width: 75%;
  display: flex;
  flex-direction: column;

  &.sent {
    align-self: flex-end;
  }

  img {
    filter: invert(100%);
    max-width: 100%;
  }
}

.textMessage {
  padding: 10px;
  border-radius: 0.5rem;
}

.sent .textMessage {
  background: var(--blue-color);
}

.receive .textMessage {
  background: var(--surface-color-b);
}
