#chat {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
}

.message {
  width: fit-content;
  max-width: 75%;
  display: flex;
  flex-direction: column;

  &.sent {
    align-self: flex-end;
  }

  .imageMessage {
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 15px;
  }

  .textMessage {
    padding: 10px;
    width: fit-content;
    border-radius: 0.5rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  #timestamp {
    color: var(--subtext-color);
    margin-top: -10px;
  }
}

.sent {
  align-content: flex-end;

  .textMessage {
    background: var(--blue-color);
  }
}

.receive {
  align-content: flex-start;

  .textMessage {
    background: var(--surface-color-b);
  }

  #senderAvatar {
    max-width: 10%;
  }
}
