.chatTile {
  display: flex;
  align-items: center;
  justify-content: safe;
  padding: 10px;
  gap: 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color-b);

  .text {
    flex: 5;
    /*other css attributes are set at roomname.css*/
  }
}

#userImage {
  background: var(--text-color);
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
}

#leaveIcon {
  float: right;
}
