#loginSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#login,
#signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

#login-info,
#signUp-info {
  display: flex;
  flex-direction: column;
  background: var(--mantle-color);
  border-radius: 1rem;
  padding: 40px;
  padding-top: 10px;
  gap: 10px;

  h1 {
    text-align: center;
  }

  .login-button {
    text-align: center;
    flex: 1;
    padding: 10px;

  }

  .login-button:hover {
    font-weight: bold;
  }


  label {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      max-block-size: 100px;
    }

    p {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#guest-login {
  color: var(--subtext-color);
  text-decoration: underline;
}
