.roomname {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px;
  gap: 20px;
  cursor: pointer;
  border-bottom: 1px groove var(--border-color-a);

  .text {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #roomId {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
  }

  #participants {
    color: var(--subtext-color);
    width: 100%;
    overflow: hidden;
  }
}



#userImage {
  background: var(--text-color);
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
