.roomname {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  cursor: pointer;
  border-bottom: 1px groove var(--border-color-a);
}

.text {
  display: flex;
  flex-direction: column;
}

#username {
  font-weight: bold;
}

#note {
  color: var(--subtext-color)
}

#userImage {
  background: var(--text-color);
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
