.roomname {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  border-bottom: 1px groove var(--border-color-a);

}

.text {
  max-width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  #roomId {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #participants {
    max-width: 100%;
    color: var(--subtext-color);
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}



#userImage {
  background: var(--text-color);
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
